@media screen and (max-width:576px) {
  nav>h3{
    font-size: 2rem;
    margin: 10px auto;
  }
  nav ul{
    display: flex;
    margin: 1rem auto;
  
  }

  nav li{
    margin: 0 10px;
  }
  header{
    width: 100%;
    margin: 0 auto;
  }
  .navigation{
    width: 90%;
  }

  .section1{
    width: 90%;
  }

  .navigation,
  .section1,
  .section2,
  .sec3-cotainar{
    flex-direction: column;
    
  }

  .text-part{
    width: 90%;
    margin: 20px auto;
    text-align: center;
  }
  
  .text-part h1{
     font-size: 40px;
     text-align: center;
  }
  
  .imagee{
    width: 100%;
  }
  .texxt{
    width: 100%;
  }

  .text-area{
    width: 100%;
  }

  .image-area{
    width: 90%;
    margin: 30px auto;
  }
  
  .year-of-experiense{
    width: 250px;
    position: relative;
    bottom: 70px;
    left: 0px;
    border-radius: 5px;
  
  }
  .section2{
    width: 80%;
  }
  .section3{
    width: 80%;
  }

.section3 p{
  width: 300px;
  margin: 10px auto;
}
.section3 h3{
  width: 300px;
  margin: 10px auto;
}


.child{
  margin: 10PX auto;
  padding: 10px;
}

.child h3,p{
   text-align: center;
   padding-right: 60px;
}

.sec4{
  font-size: 50px;
  text-align: center;
  padding: 5px;
}

.flex-image img{
  margin: 10px;
  opacity: 0.8;
 }

}

@media screen and (min-width:576px) and (max-width:1000px) {

  .navigation,
  .section1,
  .section2
  {
   flex-direction: column;
    
  }
  nav>h3{
    text-align: center;
  }
  
  .imagee{
    width: 100%;
  }
  .texxt{
    width: 100%;
  }

  .texxt{
    width: 100%;
  }

  .text-area{
    width: 100%;
  }

  .image-area{
    width: 90%;
    margin: 30px auto;
  }

  .sec3-cotainar{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}