@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
  box-sizing: border-box;
}

.primary{
  align-items: center;
  background-color: chocolate;
  color: antiquewhite;
  font-size: 20px;
  padding: 20px 15px;
  border: none;
  margin: 40px;
  border-radius: 8px;
  cursor: pointer;
  }

  .primary:hover{
     text-decoration: underline;
    }

/* header */
header{
  background-color:bisque;
}
span{
  color:brown;
}

/* navigation part */

.navigation{
  display: flex;
  justify-content: space-between;
  
}

nav>h3{
  font-size: 2.5rem;
  margin: 20px 100px;
  display: inline-block;
}

nav ul{
  display: flex;
  margin: 1.8rem 14rem;

}

nav li{
  list-style: none;
  margin-left: 2.5rem;
}

nav li a{
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
}

nav li a:hover{
  text-decoration: underline;
}


/* banner */

/* text part */

.text-part{
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.text-part h1{
   font-size: 60px;
   text-align: center;
}

.text-part p{
  font-size: 20px;
  text-align: center;
  margin: 20px;

}

/* image-part */

.image-part{
  margin: 0 auto;
  width: 80%;
}

.image-part img{
  border-radius: 5px;
  margin-bottom: 20px;
}

/* main */
/* section1 */

.section1{
  width: 90%;
  margin: 40px auto;
  display: flex;
}

.imagee{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.imagee img{
  width: 100%;
}

.texxt{
  width: 50%;
  padding: 30px;
  text-align: center;
}

.texxt h2{
  font-size: 50px;
  margin: 20px;
}

/* section2 */

.section2{
  width: 90%;
  display: flex;
  margin: 20px auto;
  background-color: lightgoldenrodyellow;
}

.text-area{
  width: 50%;
}
.text-area h3{
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
.text-area p{
  font-size: 15px;
  text-align: center;
}

.part{
  box-shadow: 0 0 10px black;
  margin: 20px;
  margin-left: 40px;
  padding: 10px;
}

.part h4{
 font-size: 20px;
}

.image-area{
  width: 45%;
  margin: 30px auto;
}

.year-of-experiense{
  width: 250px;
  background-color: darkgoldenrod;
  color: white;
  position: relative;
  bottom: 70px;
  left: -30px;
  border-radius: 5px;

}

.year10{
  font-size: 35px;
  text-align: center;
  padding: 20px;
  padding-bottom: 5px;
}

.experinse{
  text-align: center;
  padding: 10px;
}

/* section3 */

.section3{
  width: 90%;
  margin: 30px auto;
  
}


.section3 h3{
  margin: 20px;
  font-size: 40px;
}

.sec3-cotainar{
  display: flex;
  justify-content: space-evenly;
}

.child{
  width: 250px ;
  border: 1px solid saddlebrown;
  margin: 20PX;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px;
}

/* section 4 */
.section4{
  background-color:cornsilk;
  width: 90%;
  margin: 0 auto;
}
.sec4{
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.flex-image{
 text-align: center;
 margin: 20px auto;
}

.flex-image img{
  margin: 20px;
  opacity: 0.8;
 }